{% extends "base.html" %}
{% block title %}Features{% endblock %}
{% block content %}
{% set i = 0 %}

<div class="container">

    <h1 style="text-align:center;" id='acceuil_rslt'><img src="https://lh3.googleusercontent.com/proxy/aDmgftzqNZXhIvglB6yEwgxwQpLn9183Xf1pou7Gkjxza8RQpXpEVCWEsOLyxP7_pV9D3FG6kE00uJF9wrPIILPWxLwEHmqjTmb9ee1DXFjUkRAserNTo7I5o0_xE5WKEDP6vOySB6RHQ4-eC4PmnYvj5s8FMt1MAVoT5UIachE9wCeyZPA" style="height: 150px;" class="got_it" >Recherche d'emploi MAYA<img  class="got_it" src="https://lh3.googleusercontent.com/proxy/aDmgftzqNZXhIvglB6yEwgxwQpLn9183Xf1pou7Gkjxza8RQpXpEVCWEsOLyxP7_pV9D3FG6kE00uJF9wrPIILPWxLwEHmqjTmb9ee1DXFjUkRAserNTo7I5o0_xE5WKEDP6vOySB6RHQ4-eC4PmnYvj5s8FMt1MAVoT5UIachE9wCeyZPA" style="height: 150px;"></h1>

    <div class='row'>
        <div class='col-sm-12' style="text-align: center;padding: 25px;">
            <button type="button" class="btn btn-dark" ><a href='/' id='retour'>Faire une nouvelle recherche</a></button>
        </div>
    </div>

    <table id='table'>
        <thead>
            <th>Titre</th>
            <th>Résumé</th>
        </thead>
        <tbody>
        {% for link in links %}  
            <tr>
                <td><a href="https://emplois.ca.indeed.com{{ link }}">{{title[loop.index-1]}}</td>
                <td>{{summary[loop.index-1]}}</td>
            </tr>  
            {% set i = i + 1 %}  
        {% endfor %}
        </tbody>
    </table>

</div>
<script>
    $(document).ready( function () {
        $('#table').DataTable();
    } );
</script>

{% endblock %}

